<dialog id="my_modal_2" class="modal">
  <div class="modal-box max-w-md w-full p-6">
    <h3 id="modalTitle" class="font-bold text-lg mb-2"></h3>
    <p id="modalTags" class="text-sm text-gray-600 mb-2"></p>
    <p id="modalMonthTags" class="text-sm text-gray-600 mb-4"></p>
    <img id="modalImage" class="w-full h-auto mb-4" alt="Image" />
    <p id="modalContent" class="py-4"></p>
    <div class="flex justify-between items-center">
      <form method="dialog" class="modal-backdrop">
        <button class="btn btn-secondary">close</button>
      </form>
      <a id="modalDetailLink" class="btn btn-primary">詳細</a>
    </div>
  </div>
</dialog>
