<footer class="bg-gray-200 text-center p-4 mt-4">
  <div class="container mx-auto">
    <a href="#" class="text-black link link-hover">利用規約</a>
    <a href="#" class="text-black link link-hover">プライバシーポリシー</a>
    <a href="#" class="text-black link link-hover">お問い合わせ</a>
    <p class="text-black">© 2024 - IshikawaTrip</p>
  </div>
</footer>