<div id="map" class="w-full h-full" data-posts='<%= @posts.to_json(include: { tags: { only: :title }, month_tags: { only: :title } }, methods: :image_url) %>'></div>

<%= render 'posts/shared/modal' %>

<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}&libraries=places&callback=initMap", async: true, defer: true %>
<%= javascript_include_tag 'map' %>
